UIElementsSchema/Assets.Editor.UIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Assets.Editor.UIElements" elementFormDefault="qualified" targetNamespace="Assets.Editor.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="UXMLImageType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:ImageType">
        <xs:choice />
        <xs:attribute name="image" type="xs:string" />
        <xs:attribute name="sprite" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UXMLImage" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:Image" type="tns:UXMLImageType" />
</xs:schema>